In [1]:
import pandas as pd
import numpy as np
import string

t = pd.DataFrame(np.arange(12).reshape(3,4))
t

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [2]:
t = pd.DataFrame(np.arange(12).reshape(3,4),index=list(string.ascii_uppercase[:3]),columns=list(string.ascii_uppercase[-4:]))
t

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [3]:
t.shape

(3, 4)

In [4]:
t.dtypes

W    int32
X    int32
Y    int32
Z    int32
dtype: object

In [5]:
t.ndim

2

In [6]:
t.index

Index(['A', 'B', 'C'], dtype='object')

In [7]:
t.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [8]:
t.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [9]:
t.head(3)

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [10]:
t.tail(3)

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [11]:
t.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       3 non-null      int32
 1   X       3 non-null      int32
 2   Y       3 non-null      int32
 3   Z       3 non-null      int32
dtypes: int32(4)
memory usage: 72.0+ bytes

In [12]:
t.describe()

         W    X     Y     Z
count  3.0  3.0   3.0   3.0
mean   4.0  5.0   6.0   7.0
std    4.0  4.0   4.0   4.0
min    0.0  1.0   2.0   3.0
25%    2.0  3.0   4.0   5.0
50%    4.0  5.0   6.0   7.0
75%    6.0  7.0   8.0   9.0
max    8.0  9.0  10.0  11.0