In [1]:
import pandas as pd
import numpy as np
import string

t = pd.Series(np.arange(10),index=list(string.ascii_uppercase[:10]))
t

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int32

In [2]:
type(t)

pandas.core.series.Series

In [3]:
a = {string.ascii_uppercase[i]:i for i in range(10)}
a

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [4]:
pd.Series(a)

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [5]:
pd.Series(a,index=list(string.ascii_uppercase[5:15]))

F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
K    NaN
L    NaN
M    NaN
N    NaN
O    NaN
dtype: float64

In [6]:
a

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [7]:
t[2:10:2]

C    2
E    4
G    6
I    8
dtype: int32

In [8]:
t[1]

1

In [9]:
t[[2,3,6]]

C    2
D    3
G    6
dtype: int32

In [10]:
t[t>4]

F    5
G    6
H    7
I    8
J    9
dtype: int32

In [11]:
t["F"]

5

In [12]:
t[["A","F"]]

A    0
F    5
dtype: int32

In [13]:
t.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [14]:
t.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
type(t.index)

pandas.core.indexes.base.Index

In [16]:
type(t.values)

numpy.ndarray